.container {
    width: 350px;
    margin: 0 auto;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.friendsList {
    display: flex;
    width: 330px;
    padding: 10px;
    justify-content: space-between;
    list-style: none;
}

.title{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
}

.item {
    border: 1px solid #ededed;
    padding: 5px;
    border-radius: 15px;
}

.avatar {
    margin-bottom: 10px;
}

.name {
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
}

.status {
    text-align: center;
}

.is-online {
    color: green;
}

.is-offline {
    color: red;
}