.container {
    width: 350px;
    margin: 0 auto;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.title{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
}

.friendsList {
    display: flex;
    width: 330px;
    padding: 10px;
    justify-content: space-between;
    list-style: none;
}